package/
scripts/
public/
*.config.ts
*.config.js
tsconfig*.json
.gitignore
.eslintrc.cjs
.eslintrc
.eslintignore
.commitlintrc
.prettierrc
.prettierignore
.changeset/
index.html
vite-env.d.ts
node_modules/
.env
.env.local
.DS_Store
dist/
*.log
*.tgz